
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <span class="block text-6xl font-bold mb-1">Hola Amor</span>
          <div class="text-6xl text-primary font-bold mb-3">Bienvenida !!</div>
          <p class="mt-0 mb-4 text-700 line-height-3">
            Sabes, reconozco que tengo un problema con el alcohol, en el fondo lucho contra eso, cada día que pasa, internamente lucho contra eso, no sabes lo mal que me siento,
            porque no te quiero perder.
            Se que soy un problema para ti, y que tal vez sea una mala persona, pero creeme cuando te digo que estoy trabajando en ser una mejor persona, porque no quisiera arrepentirme
            un día de haber perdido a una excelente mujer.
            Te amo con toda mi alma y mi corazón, espero me puedas perdonar.
            Perdón por no ser muy expresivo, pero este sitio será mi fuente para demostrar lo que siento por ti, es un proyecto que lo quiero compartir contigo, voy a construir nuestro
            amor aquí.
          </p>
          <button pButton pRipple label="TE AMO" type="button" class="p-button-danger"></button>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="assets/images/main-arequipa.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>